<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
  <meta id="viewport" name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, minimum-scale=1, maximum-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <title>Debate Community</title>
  <meta name="robots" content="noimageindex">
  <meta name="description" content="Debate Community"/>
  <meta name="author" content="Hyeongseok Lee"/>
  <meta name="keywords" content="debate"/>
  <!-- <link rel="shortcut icon" href="images/favicon.ico"> -->

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

  <!-- Default CSS -->
  <link rel="stylesheet" type="text/css" href="./css/2default.css"/>

  <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
  <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
  <script src="../../assets/js/ie-emulation-modes-warning.js"></script>

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->  
</head>

<body>
  <span id="react-root">

    <!-- Page Content -->
    <div class="container" style="padding-top:160px">

        <div class="row">

            <div class="col-md-3" style="margin-top:-85px">
                <!-- Controversial Issues -->
                <p class="lead"><h3>Category</h3></p>
                  <div class="list-group" style="margin-top:-10px">
                    <h5>
                      <% for(var i=0; i<cate.length; i++){ %>
                          <% if(i == 0) {%>
                          <a href="#" class="list-group-item active">
                          <%} else {%>
                          <a href="#" class="list-group-item">
                          <% } %>
                              <%= cate[i] %>
                          </a>
                      <% } %>
                    </h5>
                  </div>  

<!-- 
                <div class="list-group" style="margin-top:-10px">
                  <h5>
                    <a href="#" class="list-group-item">MOST POPULAR</a>
                    <a href="#" class="list-group-item active">HEALTH & MEDICINE</a>
                    <a href="#" class="list-group-item">EDUCATION</a>
                    <a href="#" class="list-group-item">POLITICS</a>
                    <a href="#" class="list-group-item">SCIENCE & TECHNOLOGY</a>
                    <a href="#" class="list-group-item">ELECTIONS & PRESIDENTS</a>
                    <a href="#" class="list-group-item">WORLD / INTERNATIONAL</a>
                    <a href="#" class="list-group-item">SEX & GENDER</a>
                    <a href="#" class="list-group-item">ENTERTAINMENT & SPORTS</a>
                    <a href="#" class="list-group-item">ECONOMY & TAXES</a>
                  </h5>
                </div> 
-->
            </div>

            <div class="col-md-9">
              <div class="row">
                  <div class="col-md-12">
                    <div class="list-group">
                      <% for(var i=0; i< title.length; i++){ %>
                      <% for(var j=0; j< title[i].length; j++){ %>
                          <a href="./debate-it-detail" class="list-group-item">
                              <%= title[i][j] %>
                          </a>
                      <% } %>
                      <% } %>

<!-- 
                      <a href="./debate-it-detail.html" class="list-group-item">2016 Presidential Election</a>
                      <a href="#" class="list-group-item">Medical Marijuana</a>
                      <a href="#" class="list-group-item">Gun Control</a>
                      <a href="#" class="list-group-item">Animal Testing</a>
                      <a href="#" class="list-group-item">Death Penalty</a>
                      <a href="#" class="list-group-item">School Uniforms</a>
                      <a href="#" class="list-group-item">Drinking Age - Lower It?</a>
                      <a href="#" class="list-group-item">Minimum Wage</a>
                      <a href="#" class="list-group-item">Abortion</a>
                      <a href="#" class="list-group-item">Illegal Immigration</a>
                      <a href="#" class="list-group-item">Topic List</a>
                      <a href="#" class="list-group-item">Topic List</a>
                      <a href="#" class="list-group-item">Topic List</a>
                      </div>
 -->
                  </div>
              </div>
            </div>
        </div>
    </div>


    <% include ./header.html %>
    <% include ./footer.html %>

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

  </span>
</body>
</html>