<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Debate Community</title>
  <meta name="robots" content="noimageindex">
  <meta id="viewport" name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, minimum-scale=1, maximum-scale=1">
  <meta name="description" content="Debate Community"/>
  <meta name="author" content="Hyeongseok Lee"/>
  <meta name="keywords" content="debate"/>
  <!-- <link rel="shortcut icon" href="images/favicon.ico"> -->

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

  <!-- Default CSS -->
  <link rel="stylesheet" type="text/css" href="./css/2default.css"/>
</head>

<body>
  <span id="react-root">

    <main class="j28" role="main">
      <article class="i38">
        <header class="j38"></header>
        <div class="container-fluid" id="grid"></div>
          <div id="main" align="middle">
            <div class="ui alternate stripe vertical segment" >
              <div class="ui stackable center aligned grid container">
                <div class="fourteen wide column">
                  <h1 class="ui icon header">
                    <!-- <img class="ui inline icon image" src="/images/icons/rocket.png"> -->
                    Welcome to Debate Community  
                  </h1>
                  <nav>
                   <ul class="pager" >
                      <li><a href="./index" style="background-color:#fafafa"><span aria-hidden="true">&larr;</span></a></li>
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      <li><h3 class="ui header"><span>Help improve reliability of debating data</span></h3></li>
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      <li><a href="./index" style="background-color:#fafafa"><span aria-hidden="true">&rarr;</span></a></li><br><br>
                    </ul>
                  </nav>
                  <div class="eight wide column">
                    <a class="btn btn-primary" style="max-width:150px;" href="./debate-community">
                      <i class="right chevron icon"></i>
                      Get Started Now
                    </a>  
<!-- 
                    <br><br>
                    <% if(username){ %>
                        <h4 style="color:red">Connection Sucess <br>(ID: <%= username %>, NAME: <%= name %>)</h4>
                        <a href="./logout">logout</a>
                    <% }else{ %>
                        <h2> Please Login. </h2>
                    <% } %>
-->
                  </div>
                </div>
              </div>
            </div>
          </div>
      </article>
    </main>

    <% include ./header.html %>
    <% include ./footer.html %>

  </span>
</body>



</html>